{% extends 'base.html' %}
{% block content %}

    <div class="contatiner mb-4 border-bottom">
        <div class="row">
            <div class="col-1 col-md-2">
                <input class="mr-3 ml-1 mt-1 pl-2 likescountform" value="{{ question.likes }}" type="number">
            </div>
            <div class="col mb-1">
                <h3 class="pb-3 mb-1">
                    {{ question.title }}
                </h3>
                <p class="mt-1">
                    {{ question.text }}
                </p>
                <div>
                    Tags:
                    {% for tag_ in question.tags.all %}
                        <a href="{% url 'tag' tag=tag_ %}" class="p-2">{{ tag_ }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% for answer in page_obj %}
        {% include 'inc/answer.html' %}
    {% endfor %}
    {% include 'inc/pagination.html' %}
{% endblock content %}
