{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">
    Registration
    </h3>
    <form method="POST" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <div class="form-group">
            {{ form.password|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.confirm_password|as_crispy_field }}
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Upload avatar</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Choose</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock content %}