{% load static %}

<div class="contatiner border rounded mb-4">
    <div class="row">
        <div class="col-1">
            <img src="{% static 'img/default.png' %}" class="rounded border mr-3 ml-1 mt-1 maxwidth50">
            <input class="mr-3 ml-1 mt-1 pl-2 likescountform" value="{{ answer.likes }}" type="number">
        </div>
        <div class="col mb-1">
            <p class="mt-1">
                {{ answer.text }}
            </p>
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                Correct!
                </label>

            </div>
            Answer by {{ answer.author.user.username }}
        </div>
    </div>
</div>