<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pb-2 mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand col-7" href="{% url 'index' %}">SprosiAboutProblem</a>
            
            <button onclick="location.href = '{% url 'ask' %}';" class="btn btn-outline-success my-2">Ask</button>
            
        </div>
        {% if user.is_authenticated %}
        <div>
            {{ user.username }}
        </div>
        <div>
            <a class="col-1 refs" href="{% url 'profile' %}">Profile</a>
            <a class="col-1 refs" href="{% url 'logout' %}">Log out</a>
        </div>
        {% else %}
        <div>
            <a class="col-1 refs" href="{% url 'login' %}" >Log in</a>
            <a class="col-1 refs" href="{% url 'signup' %}">Register</a>
        </div>
        {% endif %}
    </nav>
</header>