<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="pager" href="?page=1">&laquo; first</a>
            <a class="pager" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="p-2">
            <a class="pager">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a> 
        </span>

        {% if page_obj.has_next %}
            <a class="pager" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="pager" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>  